body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffc299; /* Updated sand color */
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.header-left .logo {
    height: 40px;
}

.header-middle {
    display: flex;
    align-items: center;
}

.category-button, .store-button, .search-button {
    background-color: #ffc299; /* Updated sand color */
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.category-button:hover, .store-button:hover, .search-button:hover {
    background-color: #ff9966; /* Slightly darker shade for hover effect */
}

.search-input {
    padding: 5px;
    border: 1px solid #ccc;
    margin: 0 5px;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right p {
    margin: 0 10px;
}

.header-right a {
    text-decoration: none;
    color: #007bff;
    margin: 0 5px;
}

.header-right a:hover {
    text-decoration: underline;
}

.cart-icon {
    position: relative;
    font-size: 1.5em;
    cursor: pointer;
}

.cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 0.75em;
}

.container {
    display: flex;
    height: 100vh;
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
}

.sidebar {
    background-color: #ffc299; /* Updated sand color */
    width: 250px;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    height: auto; /* Adjust height according to content */
}

.sidebar h2 {
    color: #333;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar .menu-item {
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sidebar .menu-item:hover {
    background-color: #ff9966; /* Slightly darker shade for hover effect */
}

.sidebar .logout-button {
    background-color: #ffc299; /* Updated sand color */
    border: 1px solid red;
    color: red;
    padding: 10px 15px;
    margin-top: 20px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar .logout-button:hover {
    background-color: red;
    color: white;
}

.dashboard_tag {
    text-decoration: none;
    color: black;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}

.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.info {
    display: flex;
    justify-content: space-around;
}

.info-box {
    background-color: #fff;
    width: 45%;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
}

.info-box p {
    margin: 10px 0;
}

.info-box h3 {
    font-size: 2em;
    margin: 10px 0;
}

.info-box a {
    color: #007bff;
    text-decoration: none;
}

/* New CSS for the order table */
.order-history {
    margin-top: 20px;
}

.order-history h2 {
    margin-bottom: 20px;
}

.order-history table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background-color: #fff;
}

.order-history th, .order-history td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

.order-history th {
    background-color: #ffc299; /* Updated sand color */
}

.order-history td a {
    color: #007bff;
    text-decoration: none;
}

.order-history td a:hover {
    text-decoration: underline;
}

.change-password {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-top: 20px;
}

.change-password h2 {
    margin-bottom: 20px;
}

.change-password form {
    display: flex;
    flex-direction: column;
}

.change-password label {
    margin-bottom: 5px;
    font-weight: bold;
}

.change-password input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.save-password-button {
    background-color: #ffc299;
    color: white;
    width: 20%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.save-password-button:hover {
    background-color: #ffc299;
}

.change-password select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    font-size: 1em;
}

/* Invoice styles */
.invoice-container {
    max-width: 800px;
    padding-top: 40px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

.invoice-container .logo {
    display: block;
    margin: 0 auto 20px; /* Center the logo and add some bottom margin */
}

.invoice-details {
    margin-top: 20px;
}

.invoice-details h2 {
    margin: 0 0 10px;
    color: #ff9966;
}

.invoice-details p {
    margin: 5px 0;
}

.invoice-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.invoice-table th, .invoice-table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

.invoice-table th {
    background-color: #ffc299;
    color: #333;
}

.invoice-total {
    margin-top: 20px;
    text-align: right;
}

.invoice-total p {
    margin: 5px 0;
}

.invoice-total .total {
    font-weight: bold;
    font-size: 1.2em;
}

.footer {
    margin-top: 30px;
    text-align: center;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-middle {
        margin-top: 10px;
        width: 100%;
        justify-content: space-between;
    }

    .category-button, .store-button, .search-button, .search-input {
        width: 100%;
        margin-bottom: 10px;
    }

    .header-right {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-right p, .header-right a {
        margin: 5px 0;
    }

    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        padding: 0;
        box-shadow: none;
    }

    .main-content {
        padding: 10px;
    }

    .user-info {
        flex-direction: column;
        align-items: flex-start;
    }

    .info {
        flex-direction: column;
    }

    .info-box {
        width: 100%;
        margin-bottom: 20px;
    }

    .order-history table, .change-password form {
        font-size: 0.9em;
    }

    .save-password-button {
        width: 100%;
    }

    .invoice-container {
        padding: 5px;
    }

    .invoice-details {
        margin-top: 5px;
    }

    .invoice-table th, .invoice-table td {
        padding: 3px;
    }
}

@media (max-width: 480px) {
    .header {
        padding: 10px;
    }

    .header-middle {
        flex-direction: column;
    }

    .category-button, .store-button, .search-button, .search-input {
        padding: 8px;
        font-size: 0.9em;
    }

    .cart-icon {
        font-size: 1.2em;
    }

    .cart-count {
        font-size: 0.7em;
    }

    .container {
        padding: 0;
    }

    .sidebar {
        padding: 0;
    }

    .main-content {
        padding: 5px;
    }

    .user-info {
        padding: 10px;
    }

    .info-box {
        padding: 10px;
    }

    .order-history table th, .order-history table td {
        padding: 5px;
    }

    .change-password form {
        font-size: 0.8em;
    }

    .save-password-button {
        font-size: 0.9em;
    }

    .invoice-container {
        padding: 5px;
    }

    .invoice-details {
        margin-top: 5px;
    }

    .invoice-table th, .invoice-table td {
        padding: 3px;
    }

    .invoice-container .logo {
        width: 100px; /* Adjust the width for smaller screens */
        height: auto;
        margin: 0 auto 10px; /* Center the logo and adjust the margin */
    }
}
