{% comment %} {% extends 'base.html' %} {% endcomment %}
{% load static %}
<link rel="stylesheet" href="{% static "/css/dashboard.css" %}">
{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->

     {% include "includes/dash_boradhader.html" %}
     {% include "includes/sidebar_dashboard.html" %}
     <div class="main-content">
      <div class="change-password">
          <h2>Change Your Password</h2>
          <form action="{% url 'change_password' %}" method="POST">
            {% csrf_token %}
              <label for="current-password">Current Password</label>
              <input type="password" id="current-password" name="current_password" placeholder="Current password">
              <label for="new-password">Create new password</label>
              <input type="password" id="new-password" name="new_password" placeholder="New password">
              <label for="confirm-password">Confirm new password</label>
              <input type="password" id="confirm-password" name="confrim_password" placeholder="Confirm password">
              <button type="submit" class="save-password-button">Save Password</button>
          </form>
      </div>
  </div>
{% endblock content %}