{% comment %} {% extends 'base.html' %} {% endcomment %}
{% load static %}

{% block content %}

{% include "includes/dash_boradhader.html" %}
<!-- ========================= SECTION CONTENT ========================= -->

{% include "includes/sidebar_dashboard.html" %}
    <div class="main-content">
        <div class="user-info">
            <p>Logged in as: <strong>{{user.full_name}}</strong></p>
        </div>
        <div class="info">
            <div class="info-box">
                <p>Total Orders</p>
                <h3>{{orders_count}}</h3>
                <a href="{% url 'my_orders' %}">View Orders</a>
            </div>
            <div class="info-box">
                <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png " alt="Error Loading Image" width="50" height="50" style="border-radius: 50%;">
                <p>zainyousaf099@gmail.com</p>
                <p>{{user.phone_number}}</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}