{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    .cart-container{
        margin: auto;
        margin-top: 40px;
    }
    .input-group-prepend .btn, .input-group-append .btn {
        position: relative;
        z-index: 2;
        padding: 4px;
    }
    .checkout-button{
        text-align: center;
        color: whitesmoke;
    }
</style>

<div class="container">
    <div class="cart-container">
        {% if not cart_items %}
        <a href="{% url 'store' %}" class="continue-shopping">Continue Shopping</a>
        {% else %}
        <div class="product-list">
            {% for cart_item in cart_items %}
            <div class="product-item" data-price="60">
                <a href="{{ cart_item.product.get_url }}">
                    <img src="{{ cart_item.product.images.url }}" alt="Product Image">
                </a>
                <div class="product-info">
                    <figcaption class="info">
                        <a href="{{ cart_item.product.get_url }}" class="title text-primary"><b>{{ cart_item.product.product_name }}</b></a>
                        <p class="text-muted small">
                            {% if cart_item.variations.all %}
                                {% for item in cart_item.variations.all %}
                                {{ item.variation_category | capfirst }} : {{ item.variation_value  | capfirst  }}<br>
                                {% endfor %}
                            {% endif %}
                        </p>
                    </figcaption>
                    <div class="product-price">
                        <span class="discounted-price">PKR {{ cart_item.product.price }}</span>
                    </div>
                </div>
                <div class="quantity">
                    <a href="{% url 'remove_cart' cart_item.product.id cart_item.id %}" type="button" id="button-minus" class="btn btn-light"><i class="fa fa-minus"></i></a>
                    <input type="text" class="count" value="{{ cart_item.quantity }}">
                    <div class="input-group-append">
                        <form action="{% url 'add_cart' cart_item.product.id %}" method="POST">
                            {% csrf_token %}
                            {% for item in cart_item.variations.all %}
                            <input type="hidden" name="{{ item.variation_category | lower }}" value="{{ item.variation_value | capfirst }}">
                            {% endfor %}
                            <button class="btn btn-light" type="submit" id="button-plus"><i class="fa fa-plus"></i></button>
                        </form>
                    </div>
                </div>
                <a href="{% url 'remove_cart_item' cart_item.product.id cart_item.id %}" onclick="return confirm('Are you sure want to delete this item?')" class="delete"> X</a>
            </div>
            {% endfor %}
        </div>
        <div class="cart-summary">
            <div class="subtotal">
                <span>Total</span>
                <span id="subtotal-price">PKR {{ total }}</span>
            </div>
            <div class="subtotal">
                <span>Delivery Charges</span>
                <span id="subtotal-price">PKR {{ tax }}</span>
            </div>
            <div class="subtotal">
                <span>Subtotal</span>
                <span id="subtotal-price">PKR {{ grand_total }}</span>
            </div>
            <a href="{% url 'checkout' %}" class="checkout-button">CONTINUE TO CHECKOUT</a>
            <p>PSST, get it now before it sells out.</p>
        </div>
        {% endif %}
    </div>
</div>

{% endblock content %}
